@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500;700&display=swap');

:root {
  /* font-family */
  --noto-sans: 'Noto Sans KR', sans-serif;
}

/* Resets */
html,
body,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

figure {
  margin: 0;
}

button {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
}

.txt-hide {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  overflow: hidden;
}

/* global setting */
* {
  box-sizing: border-box;
}

body {
  background: #fff;
}

/* header */
#header .logo {
  width: 166px;
  margin: 0 auto;
}

#header .img_logo {
  width: 100%;
  height: 100%;
}

/* container */
#container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Purchase Page */
#purchase,
#purchase_history {
  width: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item_menu {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
  width: 306px;
  height: 284px;
  margin: 18px 27px 6px;
}

.item_menu .btn-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 94px;
  height: 130px;
  border-radius: 10px;
  overflow: hidden;
  background-color: #fff;
  filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.5));
  cursor: pointer;
}

.item_menu .btn-item:hover {
  box-sizing: content-box;
  border: 3px solid #6327fe;
  margin: -3px;
}

.item_menu .btn-item.selected {
  box-sizing: content-box;
  border: 3px solid #6327fe;
  margin: -3px;
}

.sold_out_background.off {
  display: none;
}

.sold_out_background.on {
  display: block;
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.8);
}

.img-sold_out {
  display: inline;
  margin-top: 20px;
  width: 57.5px;
  height: 44.8px;
}

.btn-item .item_image_fig {
  margin: 11px auto 7px;
  width: 36px;
  height: 81px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.btn-item .item_image_fig .img_item {
  display: block;
  width: inherit;
  height: 65px;
  margin: 0 auto;
}

.btn-item .item_image_fig .img_item_desc {
  font-family: var(--noto-sans);
  font-size: 9px;
  font-weight: 500;
  line-height: 10px;
  text-align: center;
  margin-top: 6px;
}

.item_price {
  color: #fff;
  font-family: var(--noto-sans);
  font-size: 12px;
  font-weight: 500;
  line-height: 1;
  width: 70px;
  margin: 0 auto 9px;
  padding: 5px 16px 5px 15px;
  background: #6327fe;
  border-radius: 50px;
}

.counter {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
  margin: 14px 27px;
  width: 306px;
}

.counter_function {
  border-radius: 5px;
  overflow: hidden;
}

.counter_function:nth-child(1) {
  grid-area: 1 / 1 / span 1 / span 2;
  width: 200px;
  height: 33px;
  background: #eae8fe;
}

.counter_function:nth-child(3) {
  grid-area: 2 / 1 / span 1 / span 2;
  width: 200px;
  height: 33px;
  border: 1px solid #bdbdbd;
}

.counter_function:nth-child(5) {
  grid-area: 3 / 1 / span 1 / span 2;
  width: 200px;
  height: 106px;
}

.counter_function:nth-child(even) {
  filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.5));
}

.show-change {
  margin: 6px 10px 7px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}

.input-deposit {
  width: 100%;
  height: 100%;
  border: none;
  padding: 7px 10px;
}

.input-deposit::placeholder {
  font-family: var(--noto-sans);
  font-weight: 500;
  font-size: 13px;
  line-height: 19px;
  text-align: end;
}

button {
  font-family: var(--noto-sans);
  font-size: 13px;
  line-height: 19px;
  width: 94px;
  cursor: pointer;
}

.btn-change,
.btn-send {
  font-weight: 500;
  padding: 6px 9px 8px 9px;
  background: #fff;
}

.btn-purchase {
  color: #fff;
  font-weight: 700;
  padding: 43px 35px 44px;
  background: #6327fe;
}

.item_basket {
  position: relative;
  padding: 3px 8px 12px 18px;
  background: #eae8fe;
  overflow-y: scroll;
  border-top: 9px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 8px solid transparent;
}

.item_basket::-webkit-scrollbar {
  width: 4px;
}

.item_basket::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}

.item_basket::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background: #fff;
}

.item_basket::-webkit-scrollber-track {
  background: transparent;
}

.item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  margin-bottom: 6px;
  border: 1px solid #bdbdbd;
  border-radius: 5px;
  overflow: hidden;
}

.item .item_image_fig {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 94px;
  height: 33px;
  margin: auto 10px;
}

.item .img_item {
  width: 18px;
  height: inherit;
  margin-right: 10px;
}

.item .img_item_desc {
  font-family: var(--noto-sans);
  font-weight: 500;
  font-size: 9px;
  line-height: 10px;
}

.item_number {
  width: 30px;
  height: 30px;
  margin: 8px 8px 8px 0;
  border: 1px solid #bdbdbd;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--noto-sans);
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}

/* Purchase History Page */
.my_pocket {
  height: 50px;
  padding: 9px 27px;
  margin-bottom: 22px;
  background-color: #fff;
}

.my_pocket p {
  width: 306px;
  background-color: #eae8fe;
  padding: 6px 10px;
}

.money {
  float: right;
}

.money::before {
  content: ' ';
  display: inline-block;
  width: 6px;
}

.purchase_list {
  background-color: #fff;
}

.purchase_list_title {
  margin: 32px auto 13px;
  text-align: center;
  font-family: var(--noto-sans);
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
}

.item_box {
  width: 306px;
  height: 364px;
  margin: 0 auto;
}

.expense_result {
  width: 306px;
  margin: 6px auto 0;
  text-align: end;
  font-family: var(--noto-sans);
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
}

.expense_result::before {
  content: '총금액 : ';
}

@media screen and (min-width: 768px) {
  body {
    background: #eae8fe;
  }

  #header {
    margin-bottom: 68px;
  }

  #header .logo {
    width: 386px;
    margin: 0 auto;
  }

  #container {
    flex-direction: row;
    justify-content: center;
  }

  #purchase {
    margin-right: 12px;
    background: #fff;
  }

  .counter {
    padding-bottom: 8px;
  }

  .item_menu {
    margin-top: 31px;
  }

  .my_pocket {
    margin-bottom: 13px;
  }

  .expense_result {
    margin-bottom: 34px;
  }
}
