@use '../abstracts' as abstract;

@mixin stagedList {
  border-radius: abstract.rem(5);
  overflow-y: scroll;
  border: abstract.rem(1) solid #bdbdbd;
  border-radius: abstract.rem(5);
  background-color: #eae8fe;
  padding: abstract.rem(8) abstract.rem(8) abstract.rem(8) abstract.rem(12);

  li {
    border-radius: abstract.rem(5);
    background-color: #fff;

    + li {
      margin-top: abstract.rem(6);
    }
  }

  .img-item {
    float: left;
    width: abstract.rem(18);
    height: abstract.rem(32);
  }

  .txt-item {
    float: left;
    margin-left: abstract.rem(10);
    line-height: abstract.rem(32);
    font-size: abstract.rem(9);
  }

  .num-counter {
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    width: abstract.rem(30);
    height: abstract.rem(30);
    border: abstract.rem(1) solid #bdbdbd;
    border-radius: abstract.rem(5);
  }

  .btn-staged {
    position: relative;
    width: 100%;
    padding: abstract.rem(8);
  }

  .btn-unstaged {
    position: absolute;
    top: abstract.rem(-4);
    right: abstract.rem(-4);
    cursor: pointer;
  }

  .fa-circle-minus {
    font-size: abstract.rem(20);
  }

  // For Window OS users, scrollbar style setting
  border-top: abstract.rem(4) solid transparent;
  border-right: abstract.rem(4) solid transparent;
  border-bottom: abstract.rem(4) solid transparent;

  // Scrollbar style
  &::-webkit-scrollbar {
    width: abstract.rem(4);
  }
  &::-webkit-scrollbar-button {
    width: 0;
    height: 0;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: abstract.rem(50);
    background: #a2a2a2;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }

  @content;
}
