@use '../abstracts' as abstract;
@use '../components' as component;

.my-info {
  flex-basis: abstract.rem(360);
  padding: abstract.rem(31) abstract.rem(27) abstract.rem(28);
  background-color: var(--app-color);

  .cont-mymoney {
    margin-bottom: abstract.rem(20);
    background-color: var(--app-color);
  }

  .info-mymoney {
    padding: abstract.rem(6) abstract.rem(10);
    background-color: var(--bg-color);
    border-radius: abstract.rem(5);
    line-height: abstract.rem(20);

    .txt-mymoney {
      float: right;
      font-weight: 700;
    }
  }

  .cont-myitems {
    background-color: var(--app-color);

    .tit-myitem {
      display: block;
      text-align: center;
      font-weight: 700;
      margin-bottom: abstract.rem(13);
      line-height: abstract.rem(20);
    }
  }

  .list-item-staged {
    @include component.stagedList {
      height: abstract.rem(368);
    }

    li {
      overflow: hidden;
      padding: abstract.rem(8);

      .btn-unstaged {
        display: none;
      }
    }
  }

  .txt-total {
    display: block;
    text-align: right;
    margin-top: abstract.rem(6);
    font-size: abstract.rem(12);
    line-height: abstract.rem(17);
  }
}
