@use '../abstracts' as abstract;
@use '../components' as component;

.vending-machine {
  flex-basis: abstract.rem(360);
  padding: abstract.rem(31) abstract.rem(27) abstract.rem(28);
  background-color: var(--app-color);

  .list-item {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: abstract.rem(12);

    li {
      position: relative;
      border-radius: abstract.rem(10);
      box-shadow: 0 0 abstract.rem(4) rgba(0, 0, 0, 0.5);

      &.sold-out {
        pointer-events: none;

        &::before {
          display: block;
          position: absolute;
          content: ' ';
          top: 0;
          right: 0;
          left: 0;
          bottom: 0;
          z-index: 1;
          border-radius: abstract.rem(10);
          background: no-repeat center/abstract.rem(60) abstract.rem(46)
            url('/src/assets/img/sold_out.png') rgba(0, 0, 0, 0.8);
        }
      }
    }

    .img-item {
      width: abstract.rem(36);
      height: abstract.rem(65);
      margin: 0 auto;
    }
  }

  .btn-item {
    width: 100%;
    padding: abstract.rem(11) abstract.rem(12) abstract.rem(9);

    &:active {
      border-radius: abstract.rem(10);
      outline: abstract.rem(3) solid #6327fe;
    }
  }

  .tit-item {
    display: block;
    margin-top: abstract.rem(6);
    margin-bottom: abstract.rem(7);
    font-size: abstract.rem(9);
  }

  .txt-price {
    display: block;
    padding: abstract.rem(5) abstract.rem(15);
    font-size: abstract.rem(12);
    background-color: #6327fe;
    border-radius: abstract.rem(50);
    color: #fff;
  }

  .cont-buy {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: abstract.rem(12);
    margin-top: abstract.rem(20);

    .info-balance {
      grid-column: 1 / 3;
      border-radius: abstract.rem(5);
      position: relative;
      padding: abstract.rem(6) abstract.rem(10);
      background-color: #eae8fe;

      .txt-balance {
        padding-right: abstract.rem(18);
        float: right;

        &::after {
          display: inline-block;
          position: absolute;
          content: '원';
          top: abstract.rem(6);
          right: abstract.rem(10);
        }
      }
    }

    .inp-put {
      grid-column: 1 / 3;
      border-radius: abstract.rem(5);
      padding: abstract.rem(6);
      border: abstract.rem(1) solid #bdbdbd;
    }

    .list-item-staged {
      @include component.stagedList {
        grid-column: 1 / 3;
        height: abstract.rem(106);
      }
    }

    .btn-return {
      border-radius: abstract.rem(5);
      box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
      font-size: abstract.rem(13);
    }

    .btn-put {
      border-radius: abstract.rem(5);
      box-shadow: 0 0 abstract.rem(4) rgba(0, 0, 0, 0.5);
      font-size: abstract.rem(13);
    }

    .btn-get {
      border-radius: abstract.rem(5);
      box-shadow: 0 0 abstract.rem(4) rgba(0, 0, 0, 0.5);
      font-size: abstract.rem(13);
      color: #fff;
      background-color: #6327fe;
    }
  }
}
